html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #555c73;
}

.app {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.app > .grid {
  border: 1px solid pink;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

}

.app > .grid .row {
  border: 1px solid red;
}

.app > .grid .active-video {
  flex: 1 0 auto;
}

.app > .grid .header {
  flex: 0 1 auto;
}

.app .navigation {
  flex: 0 1 auto;
}

.active-video > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}
  .active-video .iframe {
    height: 66%;
    width: 66%;
    max-width: 66%;
    max-height: 66%;
    display: table-cell;
  }
  .active-video .img {
    height: 66%;
    width: 66%;
    max-width: 66%;
    max-height: 66%;
    text-align: center;
    overflow: hidden;
  }

  .active-video .video {
    height: 66%;
    width: 66%;
    max-width: 66%;
    max-height: 66%;
    text-align: center;
  }

  .active-video iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  .active-video img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .active-video video {
    max-width: 100%;
    max-height: 100%;
  }


.navigation button {
  width: 40%;
  height: 75%;
  margin: 0 1em;
}
